/* custom properties */
:root {
    /* colors */
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-dark_blue: hsl(234, 12%, 34%);
    --neutral-light_gray: hsl(229, 6%, 66%);
    --neutral-grayish-blue: hsl(0, 0%, 98%);
}

/* Basic reset */

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 100%;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: "Poppins", sans-serif;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100%;
}

.content-container{
  padding: 6em 2em 0 2em;
}

.characteristics {
  font-size: clamp(1.70rem, 3vw, 2.5rem);
  font-weight: 200;
  margin-bottom: .35em;
}

.title {
  font-weight: 600;
  color: var(--neutral-dark_blue);
  font-size: 1.7em;
  margin-bottom: .9em;

}

.byline {
  border: solid 1px green;
  color: var(--neutral-light_gray);
  text-align: center;
  margin-bottom: 5em;
}

.cards {
  border: solid 1px green;
}

.card {
  border: solid 1px green;
  width: clamp(311px, 40vw, 350px);
  height: clamp(222px, 40vw, 250px);
}
