/* custom properties */
:root {
    /* colors */
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-dark_blue: hsl(234, 12%, 34%);
    --neutral-light_gray: hsl(229, 6%, 66%);
    --neutral-grayish-blue: hsl(0, 0%, 98%);
}

/* Basic reset */

html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 100%;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: "Poppins", sans-serif;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  font-weight: normal; 
}

/* ===== custom styling ===== */

.content-container{
  padding: 6em 2em 3.65em 2em;
  /* border: solid 3px green; */
}

.characteristics {
  color: var(--neutral-dark_blue);
  font-size: clamp(1.70rem, 4vw, 2.4rem);
  font-weight: 200;
  margin-bottom: .35em;
  text-align: center;
}

.title {
  font-size: clamp(1.70rem, 4vw, 2.4rem);
  font-weight: 600;
  color: var(--neutral-dark_blue);
  margin-bottom: .9em;
  text-align: center;
}

.byline {
  color: var(--neutral-light_gray);
  text-align: center;
  line-height: 1.7;
  margin-bottom: 5em;  
}

.byline span {
  display: inline-block;
  max-width: 35rem;
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--neutral-dark_blue);
  font-weight: 600;
  border-radius: 6px;
  width: clamp(311px, 40vw, 350px);
  height: clamp(222px, 29vw, 250px);
  padding: 2em;
  margin-bottom: 1.5em;
  box-shadow: 3px 1px 5px 3px rgba(0, 0, 0, 0.021),
   3px 3px 11px 5px rgba(0,0,0, .15);
}

.card h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: .5em;
}

.card p {
  color: var(--neutral-light_gray);
  font-weight: 400;
  font-size: clamp(.85em, 99vw, .88em);
  line-height: 1.8;
  margin-bottom: clamp(1.7em, 95vw, 3em);
}

.card img {
    align-self: flex-end;
    justify-self: flex-end;
    max-width: 22%;
}

.supervisor {
  border-top: solid 4px var(--primary-cyan);
  margin-left: auto;
  margin-right: auto;
}
.team-builder {
  border-top: solid 4px var(--primary-red);
  margin-left: auto;
  margin-right: auto;
}

.karma {
  border-top: solid 4px var(--primary-orange);
  margin-left: auto;
  margin-right: auto;
}

.calculator {
  border-top: solid 4px var(--primary-blue);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    row-gap: 2em;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 0;
  }

  .supervisor {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;    
  }

  .team-builder {
    grid-column: 2 / span 1;
  }

  .karma {
    grid-column: 2 /span 1;
    margin-bottom: 0;
  }

  .calculator {
    grid-column: 3 /span 1;
    grid-row: 1 / span 2;
  }
}